<th:block xmlns:th="http://www.thymeleaf.org">
<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org">
  <div class="container">
    <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
    <form th:method="POST" th:action="@{/home}">
<!--    <input type="submit" value="Products" th:name="product"/>-->
<!--    <a class="btn btn-primary btn-sm ml-3" href="/shop-cart">-->
<!--      <i class="fa fa-shopping-cart"></i>Cart-->
<!--    </a>-->
    </form>
  </div>
</section>
</th:block>